In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv('IMDB_INDIA.csv')
movies_tmdb = pd.read_csv('tmdb_5000_movies.csv')
credits_tmdb = pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movies.head()

,Unnamed: 0,Name,Rating,MetaScore,Vote_Count,Genre,Gross,Year
0,0,The Trial of the Chicago 7,NaN,NaN,NaN,"Drama, History, Thriller",NaN,2020.0
1,1,1917,8.3,78.0,369473.0,"Drama, War","159,227,644",2019.0
2,2,Aashram,8.0,NaN,9356.0,"Crime, Drama",NaN,2020.0
3,3,Cargo,5.8,NaN,1719.0,"Drama, Fantasy, Sci-Fi",NaN,2019.0
4,4,Jumanji: Welcome to the Jungle,6.9,58.0,310005.0,"Action, Adventure, Comedy","404,515,480",2017.0

movies = movies.merge(movies_tmdb on='Genre').shape

In [19]:
movies.shape

(67750, 8)

In [4]:
#genres
#id
#year
#keywords
#title
#overview

movies[['movie_id','title','overview','genres','keyword','cast','crew']]

KeyError: "None of [Index(['movie_id', 'title', 'overview', 'genres', 'keyword', 'cast', 'crew'], dtype='object')] are in the [columns]"

In [14]:
movies.info

<bound method DataFrame.info of        Unnamed: 0                            Name  Rating  MetaScore  \
0               0      The Trial of the Chicago 7     NaN        NaN
1               1                            1917     8.3       78.0
2               2                         Aashram     8.0        NaN
3               3                           Cargo     5.8        NaN
4               4  Jumanji: Welcome to the Jungle     6.9       58.0
...           ...                             ...     ...        ...
67745       67745                   The Octonauts     7.4        NaN
67746       67746                 Viceroy's House     6.7       53.0
67747       67747         Yeh Jawaani Hai Deewani     7.1        NaN
67748       67748     Tanhaji: The Unsung Warrior     7.6        NaN
67749       67749                  Dil Chahta Hai     8.1        NaN

       Vote_Count                                  Genre        Gross    Year
0             NaN   Drama, History, Thriller                      NaN  2020.0
1        369473.0                 Drama, War              159,227,644  2019.0
2          9356.0               Crime, Drama                      NaN  2020.0
3          1719.0     Drama, Fantasy, Sci-Fi                      NaN  2019.0
4        310005.0  Action, Adventure, Comedy              404,515,480  2017.0
...           ...                                    ...          ...     ...
67745       740.0                  Animation                      NaN  2010.0
67746      6684.0  Biography, Drama, History                1,105,717  2017.0
67747     37427.0    Drama, Musical, Romance                3,827,466  2013.0
67748     19686.0   Action, Biography, Drama                      NaN  2020.0
67749     65639.0     Comedy, Drama, Romance                  300,000  2001.0

[67750 rows x 8 columns]>

In [5]:
movies.head()

,Unnamed: 0,Name,Rating,MetaScore,Vote_Count,Genre,Gross,Year
0,0,The Trial of the Chicago 7,NaN,NaN,NaN,"Drama, History, Thriller",NaN,2020.0
1,1,1917,8.3,78.0,369473.0,"Drama, War","159,227,644",2019.0
2,2,Aashram,8.0,NaN,9356.0,"Crime, Drama",NaN,2020.0
3,3,Cargo,5.8,NaN,1719.0,"Drama, Fantasy, Sci-Fi",NaN,2019.0
4,4,Jumanji: Welcome to the Jungle,6.9,58.0,310005.0,"Action, Adventure, Comedy","404,515,480",2017.0